@import '../scss/variables.scss';

.review__container {
  max-width: 350px !important;
  min-width: 350px !important;
  padding: 36px !important;
  display: flex !important;
  flex-direction: column !important;
  position: fixed !important;
  right: 12px !important;
  bottom: 150px !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.25) !important;
  background-color: white !important;
  z-index: 9999 !important;
  font-family: 'Noto Sans KR', sans-serif !important;

  .review__is-useful {
    line-height: 30px !important;
    text-align: center !important;
    white-space: pre-line !important;
    color: black !important;
    font-size: 22px !important;
    font-weight: bold !important;
  }

  .button__container {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 22px !important;
    align-items: center !important;

    .button {
      min-width: 168px !important;
      max-width: 168px !important;
      min-height: 56px !important;
      max-height: 56px !important;
      font-size: 18px !important;
      background-color: white !important;
      color: black !important;
      border: 1px solid $primary !important;
      border-radius: 16px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      cursor: pointer !important;
      box-shadow: none !important;
      font-weight: normal !important;

      &:not(:last-child) {
        margin-bottom: 7px !important;
      }

      img.icon--like {
        margin-right: 8px !important;
      }

      &.button--like {
        min-width: 180px !important;
        max-width: 180px !important;
        margin-bottom: 7px !important;

        .icon--like {
          width: 22px !important;
          max-height: 18px !important;
        }
      }

      &.button--save {
        padding-left: 10px !important;
        padding-right: 10px !important;
        cursor: pointer !important;
        display: flex !important;
        justify-content: space-between !important;
        &.empty {
          cursor: default !important;
        }
        img.icon--save {
          width: 17.5px !important;
          height: 10px !important;
        }
      }

      &:hover {
        opacity: 1 !important;
      }
    }

    .dropdown__wrapper {
      position: relative !important;
      min-width: 168px !important;
      max-width: 168px !important;
      width: 100% !important;


      ul {
        position: absolute !important;
        top: 0;
        width: 100% !important;
        border: 1px solid #C4C4C4 !important;
        border-radius: 8px !important;
        cursor: pointer !important;
        background-color: white !important;

        li {
          height: 40px !important;
          list-style: none !important;
          font-size: 14px !important;
          background-color: white !important;
          display: flex !important;
          align-items: center !important;
          padding: 9px 16px !important;
          cursor: pointer !important;

          &.selected {
            background-color: rgba(117, 108, 237, 0.2) !important;
          }

          &:first-child {
            border-top-left-radius: 8px !important;
            border-top-right-radius: 8px !important;
          }

          &:last-child {
            border-bottom-left-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
          }

          &:hover {
            background-color: rgba(117, 108, 237, 0.2) !important;
          }
        }

        &.hide {
          display: none !important;
        }
      }
    }

  }
  .enter-button {
    color: #7C7C7C !important;
    font-size: 16px !important;
    margin-top: 17px !important;
    cursor: pointer !important;
  }
  &.hide {
    display: none !important;
  }
}
