$primary: #756CED;
$primary-l: #948eec;
$secondary: #EB4587;
$secondary-l: #EB45870F;
$background: #C4C4C4;
$background-l: #EFEFEF;
$gray: #7C7C7C;
$gray-l: #F8F8F8;

$font-size-xs: 1.4rem;
$font-size-s: 1.6rem;
$font-size-m: 1.8rem;
$font-size-l: 2.2rem;
$font-size-xl: 2.4rem;
$font-weight-l: 400;
$font-weight-m: 600;
$font-weight-b: 700;

/*radius 값 변수 설정*/
$medium: 1.6rem;
$large: 2rem;

$z-index-modal: 9999;
$z-index-header: 9998;
